h1 {
  text-align: center;
  text-shadow: none;
  color: #00FFCC; 
  text-align: center;
}

.nigga {
  color: #6A0DAD; 
  text-size-adjust: 20;
}

p {
  color: #FF69B4; 
}

.hello {
  color: #32CD32; 
}

.button {
  border-color: #333; 
  background-color: crimson; 
  color: #FFF; 
}

.rock {
  color: #FFF; 
  background-color: #87CEEB; 
  border-color: #333;
  size-adjust: 40px;
}

.paper {
  color: #FFF; 
  background-color: #4682B4; 
  border-color: #333; 
}

.scissor {
  color: #FFF; 
  background-color: #4169E1; 
  border-color: #333; 
}

.link {
  color: #FF6347; 
}
